/Changebook/nbproject/private/
/Changebook/Changebook-war/nbproject/private/
/Changebook/Changebook-ejb/nbproject/private/
/Changebook/Changebook-ejb/build/
/Changebook/Changebook-ejb/dist/
/Changebook/Changebook-war/dist/
/Changebook/Changebook-war/build/
/Changebook/build/
/Changebook/dist/